# Dependencies directory
node_modules

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# TypeScript build directory
build

# Gatsby folders
.cache/
public

# Jest coverage directory
coverage

# Enviroment variables
.env
.env.dev
.env.prod

# Redis backup file
dump.rdb



# Typescript build files
build/

# Js files
*.js
!jest.config.js